<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
      <link rel="stylesheet" href="../node_modules/toastr/build/toastr.min.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul" ng-cloak>

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>&nbsp;Redis 异地复制数据</h1>
    </md-toolbar>

    <div flex layout="row">
        <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
              <div layout="row" layout-sm="column" layout-align="space-around" ng-show="ul.rgs.length == 0">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
              </div>
            <md-list-item ng-repeat="it in ul.rgs">
                <md-card style="width: 400px">
                    <md-button ng-click="ul.selectRg(it)" ng-class="{'selected' : it === ul.selected }">
                        <p>状态&nbsp;{{it.status}}
                            <span ng-show="it|rg_hb" style="color: green">alive</span>
                            <span ng-show="!(it|rg_hb)" style="color: red">down</span>
                        </p>
                        <p>源&nbsp;{{it.source}}</p>
                        <p>目的&nbsp;{{it.destination}}</p>
                    </md-button>
                </md-card>
            </md-list-item>
            <md-list-item>
              <md-button class="md-fab md-primary" ng-click="ul.addRg()" style="background: rgb(63, 81, 181)">新增rg</md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
            <h2>状态&nbsp;{{ul.selected.status}}</h2>
            <p>源&nbsp;{{ul.selected.source}}-->目的&nbsp;{{ul.selected.destination}}</p>
            <p>压缩比&nbsp;{{ul.selected|rg_ratio}}</p>
            <p>汇总流量</p>
            <div class="canvas-div">
                <canvas class="chart chart-line" chart-data="ul.selected.rps_traffic_all"
                        chart-labels="labels" chart-series="series_traffic" chart-options="options_traffic"
                        chart-dataset-override="datasetOverride_traffic" style="width: 300px; height: 200px"></canvas>
            </div>
            <md-divider></md-divider>
            <md-content>
                <md-list>
                    <div ng-repeat="item in ul.selected.rps">
                    <md-list-item class="md-3-line" >
                        <div class="md-list-item-text">
                            <p>源&nbsp;{{item.data[1].source}}</p>
                            <p>目的&nbsp;{{item.data[1].destination}}</p>
                        </div>
                        <md-button class="md-fab md-primary" style="background: rgb(0, 150, 136)" ng-click="ul.rpStart(item.data[0])">start</md-button>
                        <md-button class="md-fab md-warn" ng-click="ul.rpStop(item.data[0])">stop</md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <div class="md-list-item-text">
                            <p>当前stat:{{item.sse.stat.slice(-1)[0].message}}
                                <md-button class="md-primary md-fab" style="background: rgb(63, 81, 181)" ng-click="item.sse.stat_detail=!item.sse.stat_detail">
                                    <span ng-show="item.sse.stat_detail">收起</span>
                                    <span ng-show="!item.sse.stat_detail">展开</span>
                                </md-button>
                            </p>
                            <ul ng-repeat="stat in item.sse.stat" ng-show="item.sse.stat_detail">
                                <li>{{stat.message}}</li>
                            </ul>
                            <p>心跳检测
                                <strong>broker</strong>
                                <span style="color: green" ng-show="item.sse.heartbeat.broker_time >= 0">alive</span>
                                <span style="color: red" ng-show="item.sse.heartbeat.broker_time < 0">down</span>
                                <strong>duplicator</strong>
                                <span style="color: green" ng-show="item.sse.heartbeat.duplicator_time >= 0">alive</span>
                                <span style="color: red" ng-show="item.sse.heartbeat.duplicator_time < 0">down</span>
                            </p>
                            <p>流量</p>
                            <div class="canvas-div">
                                <canvas class="chart chart-line" chart-data="item.sse.traffic"
                                        chart-labels="labels" chart-series="series_traffic" chart-options="options_traffic"
                                        chart-dataset-override="datasetOverride_traffic">
                                </canvas>
                            </div>
                            <p>复制命令数</p>
                            <div class="canvas-div">
                                <canvas class="chart chart-line" chart-data="item.sse.statistics"
                                        chart-labels="labels" chart-series="series_statistics" chart-options="options_statistics"
                                        chart-dataset-override="datasetOverride_statistics">
                                </canvas>
                            </div>
                            <p>复制延迟</p>
                            <div class="canvas-div">
                                <canvas class="chart chart-line" chart-data="item.sse.statistics_delay"
                                        chart-labels="labels" chart-series="series_statistics_delay" chart-options="options_statistics"
                                        chart-dataset-override="datasetOverride_statistics">
                                </canvas>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    </div>
                </md-list>
            </md-content>
            <!---->

          <md-button class="share md-fab" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
              <md-icon md-svg-icon="menu" ></md-icon>
          </md-button>
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/toastr/build/toastr.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">
          var STATUS_FAILED = "failed";
          var STATUS_OK = "succeed";
//          heartbeat timeout
          var HB_TIMEOUT = 30;
//          stat code ok list
          var STAT_CODE_OK = [0, 1, 2, 4];
          function getRandomDomain(){
              var num = parseInt(10*Math.random());
//              在这里修改访问地址
              return "http://testhost" + "1" + ":1234"
          }

          function getAve(array){
              var ave = 0;
              for (var i=0;i<array.length;i++){
                  ave += array[i];
              }
              ave /= i;
              return ave
          }

          function parseDecimal(item){
              return (Math.round(item*100)/100);
          }

          function ByteToMB(item){
              item  /= (1024 * 1024);
              return parseDecimal(item)
          }

          Chart.defaults.global.legend.display = true;
          angular
              .module('starterApp', ['ngMaterial', 'chart.js', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              }).run()
                  .value("API_URL", {
                      "rgAll": getRandomDomain() + "/rg/all",
                      'rgAction': getRandomDomain() + "/rg/",
                      'cms': getRandomDomain() + '/cms/',
                      'rpAction': getRandomDomain() + '/rp/',
                      'sseHeartbeat': getRandomDomain() + '/sse/all/heartbeat',
                      'sseStat': getRandomDomain() + '/sse/all/stat',
                      'sseTraffic': getRandomDomain() + '/sse/all/traffic',
                      'sseStatistics': getRandomDomain() + '/sse/all/statistics'
                  })
          ;

    </script>

  </body>
</html>
