<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
      <link rel="stylesheet" href="../node_modules/toastr/build/toastr.min.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul" ng-cloak>

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Redis Cluster Manager</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-list-item ng-repeat="it in ul.rgs">
                <md-button ng-click="ul.selectRg(it)" ng-class="{'selected' : it === ul.selected }">
                    状态{{it.status}}
                    <span ng-show="it|rg_hb" style="color: green">alive</span>
                    <span ng-show="!(it|rg_hb)" style="color: red">down</span>
                    <p>源{{it.source}}</p>
                       <p>目的{{it.destination}}</p>
             </md-button>
            </md-list-item>
            <md-list-item>
              <md-button class="md-fab md-primary" ng-click="ul.addRg()">新增rg</md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-icon md-svg-icon="svg-1" class="avatar"></md-icon>
          <h2>任务状态{{ul.selected.status}}</h2>
            <p>任务ID {{ul.selected.id}}</p>
           <p>源{{ul.selected.source}}-->目的{{ul.selected.destination}}</p>
           <h2>该rg下面所有的rp</h2>
            <!---->
            <md-content>
                <md-list>
                    <div ng-repeat="item in ul.selected.rps">
                    <md-list-item class="md-3-line" >
                        <div class="md-list-item-text">
                            <h3>任务ID {{item.data[0]}}</h3>
                            <p>源{{item.data[1].source}}</p>
                            <p>目的{{item.data[1].destination}}</p>
                        </div>
                        <md-button class="md-fab md-primary" ng-click="ul.rpStart(item.data[0])">start</md-button>
                        <md-button class="md-fab md-warn" ng-click="ul.rpStop(item.data[0])">stop</md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <div class="md-list-item-text">
                            <p>当前stat:{{item.sse.stat.slice(-1)[0]}}
                                <md-button class="md-primary md-raised" ng-click="item.sse.stat_detail=!item.sse.stat_detail">
                                    <span ng-show="item.sse.stat_detail">收起</span>
                                    <span ng-show="!item.sse.stat_detail">展开</span>
                                </md-button>
                            </p>
                            <p ng-show="item.sse.stat_detail">
                                {{item.sse.stat}}
                            </p>
                            <p>当前heartbeat:
                                <strong>broker</strong>
                                <span style="color: green" ng-show="item.sse.heartbeat.broker_time >= 0">alive</span>
                                <span style="color: red" ng-show="item.sse.heartbeat.broker_time < 0">down</span>
                                <strong>duplicator</strong>
                                <span style="color: green" ng-show="item.sse.heartbeat.duplicator_time >= 0">alive</span>
                                <span style="color: red" ng-show="item.sse.heartbeat.duplicator_time < 0">down</span>
                            </p>
                            <p>当前traffic:</p>
                                <canvas class="chart chart-line" chart-data="item.sse.traffic"
                                        chart-labels="labels" chart-series="series_traffic" chart-options="options_traffic"
                                        chart-dataset-override="datasetOverride_traffic">
                                </canvas>
                            <p>当前statistics:</p>
                                <canvas class="chart chart-line" chart-data="item.sse.statistics"
                                        chart-labels="labels" chart-series="series_statistics" chart-options="options_statistics"
                                        chart-dataset-override="datasetOverride_statistics">
                                </canvas>
                            <p>当前delay</p>
                            <canvas class="chart chart-line" chart-data="item.sse.statistics_delay"
                                    chart-labels="labels" chart-series="series_statistics_delay" chart-options="options_statistics"
                                    chart-dataset-override="datasetOverride_statistics">
                            </canvas>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    </div>
                </md-list>
            </md-content>
            <!---->

          <md-button class="share md-raised" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
              action
          </md-button>
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/toastr/build/toastr.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">
          var API_PREFIX = "http://testhost1:1234";
          var STATUS_FAILED = "failed";
          var STATUS_OK = "succeed";
          var HB_TIMEOUT = 30;
          function getRandomDomain(){
              var num = parseInt(10*Math.random());
              return "http://testhost" + num + ":1234"
          }
          angular
              .module('starterApp', ['ngMaterial', 'chart.js', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              }).run()
                  .value("API_URL", {
                      "rgAll": getRandomDomain() + "/rg/all",
                      "rgDetail": getRandomDomain() + "/rg/",
                      'rgAction': getRandomDomain() + "/rg/",
                      'cms': getRandomDomain() + '/cms/',
                      'rpAction': getRandomDomain() + '/rp/',
                  })
          ;

    </script>

  </body>
</html>
